// vim: sw=2
@import "gruvbox.scss"

@keyframes wiggle
  0%   { transform: rotate(0deg)  }
  10%  { transform: rotate(9deg)  }
  30%  { transform: rotate(-9deg) }
  50%  { transform: rotate(9deg)  }
  70%  { transform: rotate(-9deg) }
  90%  { transform: rotate(9deg)  }
  100% { transform: rotate(0deg)  }

// duplicated in order to force an animation replay by switching animation names
@keyframes waggle
  0%   { transform: rotate(0deg)  }
  10%  { transform: rotate(9deg)  }
  30%  { transform: rotate(-9deg) }
  50%  { transform: rotate(9deg)  }
  70%  { transform: rotate(-9deg) }
  90%  { transform: rotate(9deg)  }
  100% { transform: rotate(0deg)  }

@keyframes rise
  0%   { transform: translateY(50%); opacity: 0; height: 0; }
  100% { transform: translateY(0);   opacity: 1; height: 100%; }

@keyframes fall
  0%   { transform: translateY(0);   opacity: 1 }
  100% { transform: translateY(50%); opacity: 0 }

// @keyframes togray
//   0%   { filter: grayscale(0)    }
//   100% { filter: grayscale(100%) }

html
  height: 100%

html, input, button
  font-family: system-ui, sans-serif
  font-size: 1.4rem
  color: $gb-lm-fg0

body
  margin: 0
  height: 100%

  background: $gb-lm-bg0
  display: grid
  justify-content: center
  align-content: center

input, button
  transition: border-color 0.15s, background-color 0.15s

@mixin box-like()
  border: 1px solid $gb-lm-bg2
  border-radius: 4px
  outline: 0
  box-sizing: border-box

@mixin box-shape()
  width:  2rem
  height: 2rem
  // display: flex
  // align-items: center
  // text-align:  center
  // justify-content: center
  // padding: .3rem // todo valign with flex?
  line-height: 1.8rem
  text-align: center

@mixin box()
  @include box-like()
  @include box-shape()

$gap: 6px

.die-roller
  // outline: 1px solid fade-out($gb-lm-dark-blue, 0.8) // debug
  display: flex
  flex-direction: column
  grid-gap: $gap

  max-width: 460px
  min-width: 100%
  width: 80%

  padding: $gap
  box-sizing: border-box

  .roller-input
    display: flex
    grid-gap: $gap

    input, button
      @include box
      font-size: 1rem
      padding: 0 .4rem

      &:not(:disabled):hover
        border-color: $gb-lm-dark-blue
      &:not(:disabled):focus
        border-color: $gb-lm-dark-blue

    input
      text-align: left
      flex: 1 1 100%
      min-width: 0
      width: 100%

      background: $gb-lm-bg0
      &:focus
        background: $gb-lm-bg0-hard

    button
      flex: 0 0 auto
      min-width: 4.5rem
      width: auto
      &:not(:disabled)
        cursor: pointer

      background: linear-gradient(to top, $gb-lm-bg1, $gb-lm-bg0-soft)
      &:active
        background: $gb-lm-bg0-hard

      &:disabled
        background: $gb-lm-bg0
        // & .re-roll-icon
        //   animation-name: togray

    button
      display: flex
      grid-gap: $gap
      justify-content: space-between

  .input-result
    // @include box-like
    width: 100%
    padding: .4rem
    position: relative
    // background-color: $gb-lm-bg1

    .annotated-input
      color: $gb-lm-fg3
      .bad-input
        text-decoration: underline
        color: $gb-lm-dark-red

    .suggestion
      margin-left: 8px

  .input-result
    animation: 0.15s rise
    animation-delay: 1s

  &.ok .input-result
    animation-name: fall

  .roll-sum-sign
    color: $gb-lm-fg4
    font-weight: 300
    line-height: 1.6rem // idk makes the weird >> guy look nicer

  .dice-roll
    display: flex
    flex-wrap: wrap
    grid-gap: $gap
    text-align: center

    .roll-face
      @include box

  &.wiggle .roll-face
    animation-name: wiggle
  &.waggle .roll-face
    animation-name: waggle
